/*页头图片*/
.banner{
    width: 1920px;
}
/*图片结束*/
/*案例列表*/
.bus-list li{
    display: inline;
    text-align: center;
    height: 51px;
    float: left;
    overflow: hidden;
    line-height: 50px;
    width: 300px;
    background: #efefef;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #13387c;
    color: #13387c;
}
.bus-list .sp{
    border-right: none;
}
.bus-list li:hover{
    background: #13387c;
    color: #ffffff;
    transition: 0.5s;
}
.bus-list .bar{
    margin-bottom: 21px;
    margin-top: 39px;
}
.bus-list .bus-container{
    padding-top: 18px;
}
.bus-list .bus-container .introduction{
    margin: 0 8px;
    line-height: 30px;
}
.bus-list .bus-container .bus-img{
    width: 260px;
    height: 275px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #efefef;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 36px;
}
.bus-list .bus-container .five{
    margin-right: 0;
}
.bus-list .bus-container  .bottom{
    margin-bottom: 0;
}
.bus-list .bus-container .bus-img:hover .subtitle{
    color: #13387c;
    transition: 0.5s;
    transform: scale(1.13) translate(10px);
}
.bus-list .bus-container .bus-img img{
    width: 230px;
    height: 135px;
    margin-left: 12px;
    margin-top: 8px;
}
.bus-list .bus-container .bus-img .subtitle{
    font-size: 14pt;
    font-weight: bold;
    color: #343434;
    transition: 0.5s transform
}
/* .bus-list .bus-container .bus-img .subtitle:hover{
    color: #13387c;
    transition: 0.5s;
    transform: scale(1.13) translate(10px);

} */
.bus-list .bus-container .bus-img .text{
    font-size: 12pt;
    color: #575757;
}
.bus-list .bus-container .bus-img .learn-more{
    font-size: 12pt;
    color: #13387c;
}
.list-group{
    padding-left: 0;
    margin-bottom: 20px;
}
.list-group span{
    float: right;
}
.list-group-item{
    height: 30px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    list-style-type: none;
}
.list-group-item-action:hover{
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.title{
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    padding-top: 44px;
    color: #343434;
}
/*关于我们*/
.about-us p{
    line-height: 50px;
    line-height: 32px;
    letter-spacing: 1px
}
.about-us{
    margin-top: 27px;
}
/*案例列表结束*/